html {
	font-size: 16px;
}
body {
	margin: 0;
	font-family: 'Merriweather', serif;
	color: #4f4f53;
	/*font-size: 10px;*/
}

h1,h2, h3 {
	text-align: center;
	color: #c68282;
}
h1 {
	font-size: 2.3rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}

/* containter that is parent of img element. Containter is center and 
with a specified size. */
.imgBlock {
	width: 80%;
	margin: 0 auto; /* centered div element inside containter */
}
img {
	width: 100%; /* it will fit entirely its container */
}

a {
	color:#4f4f53;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
a:hover, a:focus {
	color: #c68282;
	font-size: 105%;
}
/* button links*/
.btn {
	display: inline-block;
	color: #eedcdc;
	background-color: #6d66a2;
	border-radius: 3px;
	padding: 5px;
	font-size: 0.9rem;
}


/*layout*/

header {
	background: #241f1feb;
	color: #c8a1a1;
/*	padding: 0.1em;
*/	text-align: center;
}

section {
	padding: 45px 0; /* the padding makes spacing top and bottom to look nice*/
}
.container {
	width: 80%;
	max-width: 820px;
	margin:0 auto; /* makes containters to be centered*/
	/*border: 2px solid magenta;*/ /* don't forget to take this out later */
	padding: 0.94em;
}
.section-two {
	color: #eedcdc;
	background: #241f1feb;
}
.push-left {
	text-align: start;
}
