body {
	margin: 0 auto;
}
h1,h2, h3 {
	text-align: center;
}
img {
	width: 100%;
}
.btn {
	color: #eedcdc;
	background-color: #6d66a2;
	text-decoration: none;
	border-radius: 3px;
	padding: 5px;
	font-size: 0.8em;
}


/*layout*/

header {
	background: #241f1feb;
	color: #c8a1a1;
/*	padding: 0.1em;
*/	text-align: center;
}

section {
	padding: 45px 0; /* the padding makes spacing top and bottom to look nice*/
}
.container {
	width: 70%;
	margin:0 auto; /* makes containters to be centered*/
	border: 2px solid magenta;
	padding: 15px 15px;
}
.section-two {
	color: #eedcdc;
	background: #241f1feb;
}